<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>Edit Pokemon Page</h1>
        <!--  NOTE: action will be the route, method will be the HTTP verb-->
        <form action="/pokemon" method="POST">
            Name: <input type="text" name="name" placeholder=<%= pokemon.name %>><br/>
            Image URL: <input type="text" name="img" placeholder=<%= pokemon.img %>><br/>
            <input type="submit" name="" value="Update Pokemon"/>
        </form>
    </body>
</html>